# Compiled source #
###################
*.pyc

# IDE Files #
#################
/.idea

# Log Files #
#############
*.log

# VirtualEnv #
##############
.venv

# Pipfile.lock #
################
Pipfile.lock

# Configuration File #
######################
app_config.env